<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>信息</title>
<link href="__PUBLIC__/images/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC_/css/main.css"/>
<script type="text/javascript" src="__PUBLIC__/javascript/jquery.min.js"></script>
<style type="text/css">
body {
	background:#FFF
}
</style>
</head>
<body>

<div id="contentWrap">
<div class="pageTitle"></div>
<div class="pageColumn">
		<div style="margin-left:90%"><a href="__URL__/add"><h2><font size="3" color="green">添加系统消息</font></h2></a></div>
<div class="pageButton"></div>
	<table>
      <thead>
      <!--<th width="10"><input name="" type="checkbox" value="" /></th>-->
      <th width="25%">id</th>
        <th width="25%">时间</th>
        <th width="25%">标题</th>
        <th width="25%">选项</th>
          </thead>
      <tbody>
  		<volist name="notification_list" id = "vo">
      	<tr>
          <!--<td class="checkBox"><input name="" type="checkbox" value="" /></td>-->
          <td>{$vo['id']}</td>
          <td>{$vo['time']}</td>
          <td><a href="__URL__/read/id/{$vo['id']}"><font color="green">{$vo['title']}</font></a></td>
          <td>
  			<a href="__URL__/edit/id/{$vo['id']}" title="编辑"><img src="__PUBLIC__/Images/admin/icons/pencil.png" alt="编辑" /></a>
  			<a href="__URL__/delete/id/{$vo['id']}" title="删除"><img src="__PUBLIC__/Images/admin/icons/cross.png" alt="删除" /></a>
		</td>
        </tr>
    </volist>
      </tbody>
  	<tfoot>
  		<tr>
			<td></td>
			<td></td>
			<td></td>
  			<td clospan = "5">
  				<div class="pagination" style="margin-left:63%">
  					<font size="4" color="red"><h2>{$page_method}</h2></font>
			</td>
  		</tr>
  	</tfoot>
    </table>
</div>
</div></div>
</body>
</html>
